* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: url(./SlGVmQWMvZQIdix7AFxXkHNSbRYXags.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Digital7';
  font-style: normal;
  font-weight: 400;
  src: url(./Digital7-rg1mL.ttf) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
  width: 100%;
  height: 100%;
  background: #111;
  font-family: 'Droid Sans', sans-serif;
  font-size: 7pt;
  color: #d8c99e;
  font-weight: 700;
  text-transform: uppercase;
  margin: auto;
}

.stat:before {
  content: "Stat";
}

.dashboard:before {
  content: "Dashboard";
}

.termux:before {
  content: "Termux"
}

.status:before {
  content: "STATUS";
}

.special:before {
  content: "Special";
}

.screen {
  width: 100vw;
  height: 100vh;
  background: #000;
  overflow: hidden;
  position: relative;
}

.scan {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0), #7ff12a);
  position: absolute;
  animation: scan;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  top: -100vh;
  z-index: 99;
  opacity: 0.25;
}

nav {
  height: 25px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #8df776;
  z-index: 95;
}

nav span {
  color: #8df776;
  line-height: 31px;
  font-size: 9pt;
  letter-spacing: 0.3px;
  margin-left: 14px;
  font-weight: 300;
}

nav .active {
  background: #000;
  border-right: 1px solid #8df776;
  border-left: 1px solid #8df776;
  border-bottom: 1px solid #000;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 3px 6px 3px 6px;
}

nav p {
  margin: -10px 0 0 0;
  height: 25px;
}

nav .off {
  color: #172f18;
  position: relative;
  left: -5px;
}

.main {
  position: fixed;
  top: 25px;
  bottom: 30px;
  left: 10px;
  right: 10px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-evenly; */
  justify-content: space-between;
  align-items: center;
}

.clock {
  color: #8df776;
  font-size: 25vw;
  font-family: 'Digital7';
  font-weight: 600;
}

.vaultboy {
  position: relative;
}

#vaultboy {
  max-width: 25vw;
  max-height: 40vh;
  padding: 20px;
}

.bars {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.item {
  display: flex;
  flex: 1;
  height: 50%;
  flex-direction: column;
}

.up,
.down {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}

.center {
  height: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.bar {
  width: 15px;
  height: 3.5px;
  background: #64d515;
}

.footer {
  height: 30px;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
}

.full {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.right {
  justify-content: end;
}

.supplies {
  height: 16px;
  background: #000;
  display: flex;
  gap: 5px;
}

.supplies span {
  background: #78e461;
  color: #000;
  padding: 0 10px 0 10px;
  font-size: 12px;
  line-height: 16px;
  font-weight: 700;
}

.hud-bar {
  height: 12px;
  width: 100%;
  background: #000;
  color: #8df776;
  display: flex;
  /* justify-content: space-around; */
  justify-content: space-between;
}

.info-bar {
  width: auto;
  height: 20px;
}

.info-bar span {
  background: rgba(0, 255, 0, 0.0.2);
  padding: 3px;
  height: 15px;
  display: inline-block;
  vertical-align: top;
  font-size: 7px;
  color: #8df776;
  text-align: center;
  position: relative;
}

.info-bar span i {
  position: absolute;
  top: 0;
  left: 5px;
}

.info-bar span p {
  margin-top: 8px;
}

.hp {
  display: inline-block;
}

.hp:before {
  content: "HP 365/365";
}

.exp {
  display: inline-block;
}

.exp:before {
  content: "Level 88";
}

.exp:after {
  content: "";
  display: inline-block;
  width: 50px;
  height: 4px;
  margin-left: 5px;
  border: 1px solid lightgreen;
}

.ap {
  display: inline-block;
}

.ap:before {
  content: "AP 130/150";
}

.weapon {
  background: url('./gun.png') no-repeat;
  width: 23px;
  height: auto;
}

.aim {
  background: url('./aim.png')
}

.shield {
  background: url('./shield.png')
}

.voltage {
  background: url('./voltage.png');
}

.nuclear {
  background: url('./nuclear.png')
}

.helmet {
  background: url('./helmet.png');
}

.aim,
.shield,
.voltage,
.nuclear {
  width: 10px;
  background-size: 10px 10px;
  height: auto;
  background-repeat: no-repeat;
  background-position: 3px 0px;
}

.weapon,
.helmet {
  background-size: 27px;
  height: auto;
  width: 23px;
  background-repeat: no-repeat;
}

@keyframes scan {
  0 {
    top: -80px;
  }

  70% {
    top: 300px;
  }

  100% {
    top: 300px;
  }
}